<header>
  <h1 class="assignChannel"><%= @chat_room.title %></h1>
  <p><%= @chat_room.description %></p>
  <%=link_to "Delete",chat_room_path(@chat_room.id), 'data-method' => :delete, :class => "delete", :confirm => "Are you sure ?"%> 


</header>
<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <% if @chat_room.messages.empty? %>
    <p>This is a new channel! Write a new message.</p>
  <% else %>
    <%= render @chat_room.messages %>
  <% end %>
</div>

<div class="chatinput">
  <%= form_for @message, url: '#', id: 'formSubmit' do |f| %>
    <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
    <div>
        <%= f.text_field :body, class: 'form-control', placeholder: 'Type your message...' %>
    </div>
  <% end %>
</div>
